---
import Layout from "../layout/layout.astro";
import CardDisplay from "../components/card-display.astro";
import { Image } from "astro:assets";
import profilePic from "../assets/profile.jpg";
---

<Layout>
	<div>
		<div class="flex items-center my-5 justify-evenly">
			<div class="flex flex-col gap-2 w-[40em] justi">
				<p class="font-bold text-4xl w-full">
					Hi there! My name is Amitan Joseph.
				</p>
				<p class="w-full">
					I'm a 1st Year Engineering Student at the University of
					Cambridge. My interests include Robotics, Electronics,
					Synthetic Biology (yes ik it's pretty left field),
					Programming and Programming Languages. This site is a
					collection of the projects I've done over the years. Enjoy!
				</p>
			</div>
			<div>
				<Image
					src={profilePic}
					alt="Profile Picture"
					class="rounded-full w-[20vw]"
				/>
			</div>
		</div>
		<CardDisplay />
	</div>
</Layout>
