---
import { getCollection } from "astro:content";
import Layout from "../../layout/layout.astro";
export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
---

<script>
    import { navigate } from "astro:transitions/client";
    let escToEscape: (event: KeyboardEvent) => void;
    let clickToEscape: (event: MouseEvent) => void;
    document.addEventListener("astro:page-load", () => {
        const target = document.querySelector("#note");
        document.removeEventListener("click", clickToEscape, false);
        document.removeEventListener("keydown", escToEscape, false);
        if (target) {
            escToEscape = (event: KeyboardEvent) => {
                if (event.key === "Escape") navigate("/");
            };
            clickToEscape = (event: MouseEvent) => {
                if (!event.composedPath().includes(target)) navigate("/");
            };
            document.addEventListener("click", clickToEscape, false);
            document.addEventListener("keydown", escToEscape, false);
        }
    });
</script>

<Layout>
    <div class="place-items-center py-20">
        <div
            class="bg-white dark:bg-black outline-black dark:outline-white outline-[2px] shadow-xl dark:shadow-md dark:shadow-white rounded-xl"
            id="note"
            transition:name={project.id + "note"}
        >
            <a href="/">
                <span class="material-symbols-outlined mx-4 mt-4">
                    arrow_back
                </span>
            </a>
            <div class="py-2 px-12 flex flex-col gap-2 pb-10">
                <p class="font-bold text-4xl w-full">
                    {project.data.title}
                </p>
                <div class="flex justify-between">
                    <p class="text-lg italic">
                        {project.data.shortDesc}
                    </p>
                    <p>
                        Status: {project.data.status}
                    </p>
                </div>
                <div>
                    {
                        `Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum,
                dolorem accusantium rerum non nesciunt sunt ad maxime
                blanditiis. Quae explicabo quibusdam ducimus nesciunt ab porro,
                inventore quasi. Non, quisquam iure?\n`.repeat(100)
                    }
                </div>
            </div>
        </div>
    </div>
</Layout>
